<% if flash[:success] %>
  <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
    <span class="block sm:inline"><%= flash[:success] %></span>
    <span class="close-btn absolute top-0 bottom-0 right-0 px-4 py-1 text-3xl" role="button">
      &times;
    </span>
  </div>
<% end %>